.container {
  max-width: 90%;
  margin: auto;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
}

#container-banner {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 0;
}

#container-banner a {
  margin: 8px;
  font-weight: bold;
}

#container-banner h1 {
  font-weight: bold;
  color: #F2F2F2;
  margin: 8px;
  font-size: 30px;
  text-shadow: 2px 2px 3px black;
}

#container-banner p {
  color: white;
  line-height: 1.6;
}

.text-center {
  text-align: center;
  font-size: 22px;
}
